<div class="page page-dashboard page-leaderboards">

<div class="pageheader">

  <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>
</div>

<!-- cards row -->
<div class="row">
  <div class="col-md-6 col-sm-12" ng-repeat="(id, league) in leagues">
    <!-- tile -->
    <section class="tile" fullscreen="isFullscreen06">

      <!-- tile header -->
      <div class="tile-header dvd dvd-btm">
        <h1 class="custom-font"><strong>{{league.Name}}</strong></h1>
        <ul class="controls">
          <li style="min-width:150px;padding:3px">
            <ui-select ng-model="league.DashSelectedSeason">
              <ui-select-match placeholder="Select a season">{{$select.selected.Name}}</ui-select-match>
              <ui-select-choices repeat="season in addIndexes(league, league.Seasons) track by $index">
                {{season.Name}}
              </ui-select-choices>
            </ui-select>
          </li>

          <li class="dropdown" dropdown on-toggle="toggled(open)">

            <a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
              <li>
                <a href tile-control-toggle>
                  <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                  <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                </a>
              </li>
              <li>
                <a href tile-control-fullscreen ng-click="isFullscreen06 = !isFullscreen06">
                  <fa name="expand"></fa> Fullscreen
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /tile header -->

      <!-- tile body -->
      <div class="tile-body table-custom" ng-controller="LeaderboardCtrl">

        <div class="table-responsive">
          <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-custom">
            <thead>
              <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Rating</th>
                <th>Prize</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="member in leagueMembers(league)">
                <td>{{ $index+1 }}</td>
                <td>{{ member.Name }}</td>
                <td>{{ member.wins }}</td>
                <td>{{ member.losses }}</td>
                <td>{{ member.rating }}</td>
                <td class="prize">{{league.PrizepoolCurrency}}{{ (calcPrize(league.DashSelectedSeason, $index) == 0) ? "" : (calcPrize(league.DashSelectedSeason, $index) | number)}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <!-- /tile body -->

    </section>
    <!-- /tile -->
  </div>
</div>
</div>
