.container-fluid
  .row(style="padding:10px;")
    paper-shadow.col-xs-12.col-sm-12.col-md-6(style="max-width: 350px;")
      h3 Top Players by Rating
      table.table.table-hover.table-condensed(style="display:inline-block;overflow-x:auto")
        thead
          tr
            th(style="width:10px")
            th {{'Name'|translate}}
            th {{'Wins'|translate}}
            th {{'Losses'|translate}}
            th {{'Prize'|translate}}
            th {{'Rating'|translate}}
        tbody
          tr(ng-repeat="profile in profiles | orderBy:['-profile.rating', 'profile.name']",ng-click="goToProfile(profile)")
            td
              img(style="width:20px;height:20px",ng-src="{{profile.steam.avatarfull}}")
            td {{profile.profile.name}}
            td {{profile.profile.wins}}
            td {{profile.profile.losses}}
            td {{ratingPrizeValue($index)}}
            td {{profile.profile.rating}}
    paper-shadow.col-xs-12.col-sm-12.col-md-6(style="max-width: 350px;")
      h3 Top Players by Games Played
      table.table.table-hover.table-condensed(style="display:inline-block;overflow-x:auto")
        thead
          tr
            th(style="width:10px")
            th {{'Name'|translate}}
            th {{'Wins'|translate}}
            th {{'Losses'|translate}}
            th {{'Prize'|translate}}
            th {{'Rating'|translate}}
        tbody
          tr(ng-repeat="profile in profiles | orderBy:['-profile.totalGames', 'profile.name']",ng-click="goToProfile(profile)")
            td
              img(style="width:20px;height:20px",ng-src="{{profile.steam.avatarfull}}")
            td {{profile.profile.name}}
            td {{profile.profile.wins}}
            td {{profile.profile.losses}}
            td {{gamesPrizeValue($index)}}
            td {{profile.profile.rating}}
