link(rel="import", href="/bower_components/polymer/polymer.html")
link(rel="import", href="/bower_components/paper-button/paper-button.html")
polymer-element(name="match-result", attributes="result")
  template
    link(rel="stylesheet",href="/bower_components/font-awesome/css/font-awesome.css")
    .header.blueHeader
      template(bind="",if="{{result.VotingOpen}}") Vote 
      | Match Result
    .tablewrapper
      table.table.table-condensed(style="margin-bottom:0")
        tbody
          template(bind="",if="{{result.RequiresVote && result.VotingOpen}}")
            tr(style="font-weight:bold;color:black;background:white") 
              td Can't fetch result, voting in progress.
              td
            tr(style="font-weight:bold;color:black;background:white") 
              td 
                | Voting ends:
                time-ago(datetime="{{result.VotingEnds}}")
              td
          tr(class="{{ {success: result.RadiantWon, danger: !result.RadiantWon} | tokenList }}")
            td(style="font-weight:bold")
              template(bind="",if="{{result.VotingOpen}}")
                | Current vote: 
              template(bind="",if="{{result.RadiantWon}}")
                | Radiant Won
              template(bind="",if="{{!result.RadiantWon}}")
                | Dire Won
            td
          template(repeat="{{player in result.Players}}")
            tr(class="{{ {success: player.Team==0, danger: player.Team==1} | tokenList }}")
              td
                | {{player.Name}}
                template(bind="",if="{{votedRadiant(player)}}")
                  |  (R)
                template(bind="",if="{{votedDire(player)}}")
                  |  (D)
              template(bind="",if="{{player.Team==0}}")
                td(style="text-align:right;font-weight:bold")
                  | {{result.RatingRadiant}}
              template(bind="",if="{{player.Team==1}}")
                td(style="text-align:right;font-weight:bold")
                  | {{result.RatingDire}}
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
    style.
      .header {
        width: 100%;
        color: black;
        text-align: center;
        font-size: 1.5em;
        font-weight: 500;
      }
      .success-btn {
        background: #2FD22E;
        color: #fff;
        border-radius: 0;
      }
      .success-btn:hover {
        background-color: #298028;
      }
      .success-btn::shadow #ripple {
        color: #FD9292;
      }
      .tablewrapper {
         /*max-height: 50%;*/
         overflow: auto;
         overflow-x: hidden;
      }
      .boldText {
        font-weight: bold;
      }
      .blueHeader {
        background-color: rgba(0, 193, 255, 1);
      }
      .redHeader {
        background-color: rgba(255,0,0,0.58);
      }
      .leaver {
        background-color: red !important;
      }
  script(src="/bower_components/lodash/dist/lodash.min.js")
  script(src="/bower_components/moment/min/moment.min.js")
  link(rel="import", href="/bower_components/paper-button/paper-button.html")
  link(rel="import", href="/bower_components/time-ago-element/src/time-ago.html")
  script(src="match-result.js")
