link(rel="import", href="/bower_components/polymer/polymer.html")
link(rel="import", href="/bower_components/paper-button/paper-button.html")
polymer-element(name="match-result", attributes="result")
  template
    link(rel="stylesheet",href="/bower_components/font-awesome/css/font-awesome.css")
    .header.blueHeader
      | Match Result
    .tablewrapper
      table.table.table-condensed(style="margin-bottom:0")
        tbody
          tr(class="{{ {success: result.Result>=2&&result.Result<=3, leaver: result.Result>3} | tokenList }}")
            td(style="font-weight:bold")
              template(bind="",if="{{result.Result==2}}")
                | Radiant Victory
              template(bind="",if="{{result.Result==3}}")
                | Dire Victory
              template(bind="",if="{{result.Result==64}}")
                | Poor Network Conditions, Result Discarded
              template(bind="",if="{{result.Result==65}}")
                | Leaver, Result Discarded
            td
          template(repeat="{{player in result.Players}}")
            tr(class="{{ {success: player.Team==0, danger: player.Team==1, leaver: player.IsLeaver} | tokenList }}")
              td
                | {{player.Name}}
              template(bind="",if="{{player.Team==0}}")
                td(style="text-align:right;font-weight:bold")
                  | {{result.RatingRadiant}}
              template(bind="",if="{{player.Team==1}}")
                td(style="text-align:right;font-weight:bold")
                  | {{result.RatingDire}}
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
    style.
      .header {
        width: 100%;
        color: black;
        text-align: center;
        font-size: 1.5em;
        font-weight: 500;
      }
      .success-btn {
        background: #2FD22E;
        color: #fff;
        border-radius: 0;
      }
      .success-btn:hover {
        background-color: #298028;
      }
      .success-btn::shadow #ripple {
        color: #FD9292;
      }
      .tablewrapper {
         /*max-height: 50%;*/
         overflow: auto;
         overflow-x: hidden;
      }
      .boldText {
        font-weight: bold;
      }
      .blueHeader {
        background-color: rgba(0, 193, 255, 1);
      }
      .redHeader {
        background-color: rgba(255,0,0,0.58);
      }
      .leaver {
        background-color: red !important;
      }
  script(src="/bower_components/lodash/dist/lodash.min.js")
  script(src="/bower_components/moment/min/moment.min.js")
  link(rel="import", href="/bower_components/paper-button/paper-button.html")
  link(rel="import", href="/bower_components/time-ago-element/src/time-ago.html")
  script(src="match-result.js")
