#panel-container
  core-toolbar.medium-tall(style="height: 90px")
    paper-icon-button(icon="menu",role="button",tabindex="0",aria-label="menu",ng-click="state.go('panel.chat')")
    div(flex="") {{ 'TITLE' | translate }}
    div(dropdown="",style="margin:0")
      paper-button.dropdown-toggle(role="button",tabindex="0",style="margin:0") {{auth.currentUser.profile.name}} ({{auth.currentUser.profile.rating}})
      ul.dropdown-menu(role="menu",style="right:0;left:auto;")
        li
          a(ui-sref="panel.profile") {{ 'Profile' | translate }}
          a(href="/auth/logout",ng-click="$event.stopPropagation()") {{ 'Sign Out' | translate }}
    .bottom.fit(horizontal="",layout="",style="height: 35px")
      div(style="width:100%;height:100%;float:left")
        paper-tabs.orange(ng-model="panelTabs.selected",flex="",style="",role="tablist",scrollable="",hideScrollButton="")
          paper-tab(ng-repeat="chat in chats",ng-click="selectChat(chat.Name)")
            | {{humanizeChatName(chat.Name)}}
          paper-tab(ng-click="state.go('panel.leaderboard')") {{ 'Leaderboards' | translate }}
          paper-tab(ng-if="auth.inRole('vouch')",ng-click="state.go('panel.vouch')") {{ 'Vouch' | translate }}
          paper-tab(ng-if="auth.inRole('admin')",ng-click="state.go('panel.admin')") {{ 'Admin' | translate }}
          paper-tab(ng-click="state.go('panel.settings')") {{ 'Settings' | translate }}
        div(style="width: 100px;position:relative;top:-5px;float:left")
          paper-icon-button(icon="add", role="button", ng-click="showJoinDialog()")
          paper-icon-button(icon="close", role="button", ng-disabled="!chats[panelTabs.selected].Leavable", ng-click="leaveCurrentChat()")
  #panelInnerContainer(ui-view="")
  #rightcont(ng-if="showRightCont()")
    .mains
      live-matches(ng-if="liveMatches.length>0",ng-match-types="MatchTypeNS",ng-model="liveMatches",ng-game-modes="GameModeN")
      match-game(ng-repeat="game in games|filter:gameFilter",ng-model="game",ng-game-modes="GameModeN",ng-match-types="MatchTypeNS",ng-in-game="isInGame(game)",ng-pressed-join="joinGame(game)",ng-picked-player="pickPlayer($event)",ng-setup-statusn="SetupStatusN",ng-captain-statusn="CaptainStatusN",ng-can-join="!isInGame()", ng-steamid="auth.currentUser.steam.steamid",ng-match-states="MatchStateN")
      pending-challenge(ng-if="network.activeChallenge!=null")
      match-result(ng-if="network.activeResult!=null",ng-model="network.activeResult")
    .btns(ng-if="isAdminOfGame()&&network.activeMatch.Setup==null&&network.activeMatch.Info.Status==0")
      paper-button.primary-btn(raised,ng-click="network.matches.do.startmatch()") {{ 'Start' | translate }}
      paper-button.danger-btn(raised,ng-click="network.matches.do.leavematch()") {{ 'Cancel' | translate }}
    .btns(ng-if="isAdminOfGame()&&network.activeMatch.Setup!=null&&network.activeMatch.Info.Status<3")
      paper-button.primary-btn(raised,ng-click="network.matches.do.finalizematch()",ng-if="allAreReady()") {{ 'Start Match' | translate }}
      paper-button.danger-btn(raised,ng-click="network.matches.do.leavematch()") {{ 'Cancel' | translate }} {{ 'Match' | translate }}
    .btns(ng-if="isInGame()&&!isAdminOfGame()&&network.activeMatch.Info.Status<1")
      paper-button.danger-btn(raised,ng-click="network.matches.do.leavematch()") {{ 'Leave' | translate }}
    .btns(ng-if="canStartGames()&&!isAdminOfGame()&&network.activeChallenge==null&&network.activeResult==null")
      paper-button(raised,ng-click="createStartgame()") {{ 'Start Match' | translate }}
    .btns(ng-if="network.activeResult != null")
      paper-button(raised,ng-click="network.matches.do.dismissResult()") {{ 'Dismiss' | translate }} {{ 'Result' | translate }}
  paper-toast-fa(icon="fa-sun-o fa-spin",ng-text="network.status",ng-opened="network.disconnected",duration=-1,swipeDisabled=true,autoCloseDisabled=true,backdrop=false,layered=false)
paper-action-dialog#createMatch(ng-heading="'Create Match' | translate", transition="core-transition-bottom", style="width: 600px", ng-opened="showCreateMatch")
  p(style="margin-bottom:0")
    | {{"Choose your match options" | translate}}
  p(style="margin-top:0")
    paper-dropdown-menu#gameModeInput(ng-label="'Game mode' | translate")
      paper-dropdown.dropdown(layered="true", style="height: 35%")
        core-menu.menu(ng-model="selectedGameMode")
          paper-item(ng-repeat="id in sortedGameModes() | orderBy" value="{{id}}") {{GameModeN[id]}}
  paper-button(affirmative="") {{"Cancel" | translate}}
  paper-button.primary-btn(affirmative="", autofocus="", ng-click="confirmCreateMatch()", ng-model="matchName") {{"Create" | translate}}
