core-toolbar.medium-tall
  paper-icon-button(icon="menu",role="button",tabindex="0",aria-label="menu")
  div(flex="") Web League
  paper-icon-button(icon="add-circle",role="button",tabindex="0",aria-label="create game")
  paper-icon-button(icon="account-circle",role="button",tabindex="0",aria-label="account")
  .bottom.fit(horizontal="",layout="")
    paper-tabs(selected="0",flex="",style="max-width: 600px;",role="tablist")
      paper-tab MAIN CHAT
      paper-tab Dendi
