#panel-container
  core-toolbar.medium-tall
    paper-icon-button(icon="menu",role="button",tabindex="0",aria-label="menu")
    div(flex="") Web League
    div(dropdown="")
      paper-icon-button.dropdown-toggle(role="button",tabindex="0",label="{{auth.currentUser.profile.name}}")
      ul.dropdown-menu(role="menu",style="right: 0; left: auto;")
        li
          a(href="/auth/logout",ng-click="$event.stopPropagation()") Sign Out
    .bottom.fit(horizontal="",layout="")
      paper-tabs(ng-model="selected",flex="",style="max-width: 100%;",role="tablist")
        paper-tab(ng-repeat="chat in chats") {{chat.Name}}
  wl-chat(ng-model="chats[selected]", ng-sendchat="sendChat($event)")
  paper-toast-fa(icon="fa-sun-o fa-spin",ng-text="network.status",ng-opened="network.disconnected",duration=-1,swipeDisabled=true,autoCloseDisabled=true,backdrop=false,layered=false)
