#panel-container
  core-toolbar.medium-tall(style="height: 90px")
    paper-icon-button(ng-if="!auth.currentUser.settings.soundMuted",icon="alarm-on",role="button",tabindex="0",ng-click="toggleSoundMuted(true)")
    paper-icon-button(ng-if="auth.currentUser.settings.soundMuted",icon="alarm-off",role="button",tabindex="0",ng-click="toggleSoundMuted(false)")
    div(flex="") FACEIT Pro League: S1: April 13-May 13, PrizePool 10k&euro;
    div(dropdown="",style="margin:0")
      paper-button.dropdown-toggle(dropdown-toggle="", role="button",tabindex="0",style="margin:0") {{auth.currentUser.profile.name}} ({{auth.currentUser.profile.rating}})
      ul.dropdown-menu(role="menu",style="right:0;left:auto;")
        li
          a(ui-sref="panel.profile") {{ 'Profile' | translate }}
          a.tsModal(href="", ng-click="showTsInfoModal()") {{ 'Teamspeak Info' | translate }}
          a(href="/auth/logout",ng-click="$event.stopPropagation()") {{ 'Sign Out' | translate }}
    .bottom.fit(horizontal="",layout="",style="height: 35px")
      div(style="width:100%;height:100%;float:left")
        paper-tabs.orange(ng-model="panelTabs.selected",flex="",style="",role="tablist",scrollable="",hideScrollButton="")
          paper-tab(ng-repeat="chat in chats",ng-click="selectChat(chat.Name)")
            | {{humanizeChatName(chat.Name)}}
          paper-tab(ng-click="state.go('panel.leaderboard')") {{ 'Leaderboards' | translate }}
          paper-tab(ng-if="auth.inRole('vouch')",ng-click="state.go('panel.vouch')") {{ 'Vouch' | translate }}
          paper-tab(ng-if="auth.inRole('admin')",ng-click="state.go('panel.admin')") {{ 'Admin' | translate }}
          paper-tab(ng-click="state.go('panel.settings')") {{ 'Settings' | translate }}
        div(style="width: 100px;position:relative;top:-5px;float:left")
          paper-icon-button(icon="add", role="button", ng-click="showJoinDialog()")
          paper-icon-button(icon="close", role="button", ng-disabled="!chats[panelTabs.selected].Leavable", ng-click="leaveCurrentChat()")
  #panelInnerContainer(ui-view="", ng-class="{withRightCont: showRightCont(), withoutRightCont: !showRightCont()}")
  #rightcont(ng-if="showRightCont()")
    .mains
      live-matches(ng-if="liveMatches.length>0",ng-match-types="MatchTypeNS",ng-model="liveMatches",ng-game-modes="GameModeN")
      match-game(ng-repeat="game in games|filter:gameFilter|orderBy:'Info.Status'",ng-model="game",ng-game-modes="GameModeN",ng-match-types="MatchTypeNS",ng-in-game="isInGame(game)",ng-pressed-join="joinGame(game)",ng-pressed-join-spec="joinGameSpec(game)",ng-picked-player="pickPlayer($event)",ng-setup-statusn="SetupStatusN",ng-captain-statusn="CaptainStatusN",ng-can-join="!isInGame()&&canJoinGames()", ng-steamid="auth.currentUser.steam.steamid",ng-match-states="MatchStateN")
      pending-challenge(ng-if="network.activeChallenge!=null")
      match-result(ng-if="network.activeResult!=null",ng-model="network.activeResult")
    .btns(ng-if="isAdminOfGame()&&network.activeMatch.Setup==null&&network.activeMatch.Info.Status==0")
      paper-button.primary-btn(raised,ng-click="network.matches.do.startmatch()") {{ 'Start' | translate }}
      paper-button.danger-btn(raised,ng-click="network.matches.do.leavematch()") {{ 'Cancel' | translate }}
    .btns(ng-if="isAdminOfGame()&&network.activeMatch.Setup!=null&&network.activeMatch.Info.Status<3")
      paper-button.primary-btn(raised,ng-click="network.matches.do.finalizematch()",ng-if="allAreReady()") {{ 'Start Match' | translate }}
      paper-button.danger-btn(raised,ng-click="network.matches.do.leavematch()") {{ 'Cancel' | translate }} {{ 'Match' | translate }}
    .btns(ng-if="isInGame()&&!isAdminOfGame()&&canLeaveGame()")
      paper-button.danger-btn(raised,ng-click="network.matches.do.leavematch()") {{ 'Leave' | translate }}
    .btns(ng-if="canStartGames()&&!isAdminOfGame()&&network.activeChallenge==null&&network.activeResult==null",style="padding-left:10px;padding-right:10px")
      paper-button(raised,ng-click="createStartgame(2)",style="width:33.33%;display:inline-block") {{ 'Start CM' | translate }}
      paper-button(raised,ng-click="createStartgame(16)",style="width:33.33%;display:inline-block") {{ 'Start CD' | translate }}
      paper-button(raised,ng-click="createStartgame(20)",style="width:33.33%;display:inline-block") {{ 'Start DM' | translate }}
    .btns(ng-if="network.activeResult != null")
      paper-button(raised,ng-click="network.matches.do.dismissResult()") {{ 'Dismiss' | translate }} {{ 'Result' | translate }}
  paper-toast-fa(icon="fa-sun-o fa-spin",ng-text="network.status",ng-opened="network.disconnected",duration=-1,swipeDisabled=true,autoCloseDisabled=true,backdrop=false,layered=false)
paper-action-dialog.tsInfo(backdrop="", autoclosedisabled="", layered="true")
  p
    | Connect to the TeamSpeak server using the following credentials:
  p
    | Address:&nbsp;
    b fplts.paral.in
  p
    | Password:&nbsp;
    b arisespam
  p
    | Once you are connected, follow the instructions the server gives you in the text chat. Here is your token:
  p
    b {{auth.currentUser.tstoken}}
  paper-button(affirmative="", autofocus="") Close
