#panel-container
  core-toolbar.medium-tall(style="height: 90px")
    paper-icon-button(icon="menu",role="button",tabindex="0",aria-label="menu")
    div(flex="") Web League
    div(dropdown="")
      paper-button.dropdown-toggle(role="button",tabindex="0") {{auth.currentUser.profile.name}}
      ul.dropdown-menu(role="menu",style="right: 0; left: auto;")
        li
          a(href="/auth/logout",ng-click="$event.stopPropagation()") Sign Out
    .bottom.fit(horizontal="",layout="",style="height: 35px")
      div(style="width: 100%;height:100%;font-size:12px;float:left",ng-if="state.current.name!=='panel.chat'")
        paper-button(role="button",style="height:100%",ng-click="state.go('panel.chat')") Back to Chat
      div(style="width:100%;height:100%;float:left",ng-if="state.current.name==='panel.chat'")
        paper-tabs(ng-model="chatTabs.selected",flex="",style="",role="tablist")
          paper-tab(ng-repeat="chat in chats") 
            | {{chat.Name}}
        div(style="width: 100px;position:relative;top:-5px;float:left")
          paper-icon-button(icon="add", role="button", ng-click="showJoinDialog()")
          paper-icon-button(icon="close", role="button", ng-disabled="!chats[chatTabs.selected].Leavable", ng-click="leaveCurrentChat()")
  #panelInnerContainer(ui-view="")
  #rightcont(ng-if="showRightCont()")
    .mains
      live-matches(ng-if="liveMatches.length>0",ng-match-types="MatchTypeNS",ng-model="liveMatches",ng-game-modes="GameModeN")
      match-game(ng-repeat="game in games|filter:gameFilter",ng-model="game",ng-game-modes="GameModeN",ng-match-types="MatchTypeNS",ng-in-game="isInGame(game)",ng-pressed-join="joinGame(game)",ng-picked-player="pickPlayer($event)",ng-setup-statusn="SetupStatusN",ng-captain-statusn="CaptainStatusN",ng-can-join="!isInGame()", ng-steamid="auth.currentUser.steam.steamid",ng-match-states="MatchStateN")
      pending-challenge(ng-if="network.activeChallenge!=null")
      match-result(ng-if="network.activeResult!=null",ng-model="network.activeResult")
    .btns(ng-if="isAdminOfGame()&&network.activeMatch.Setup==null&&network.activeMatch.Info.Status==0")
      paper-button.primary-btn(label="START",raisedButton,ng-click="network.matches.do.startmatch()")
      paper-button.danger-btn(label="CANCEL",raisedButton,ng-click="network.matches.do.leavematch()")
    .btns(ng-if="isAdminOfGame()&&network.activeMatch.Setup!=null&&network.activeMatch.Info.Status<3")
      paper-button.primary-btn(label="START MATCH",raisedButton,ng-click="network.matches.do.finalizematch()",ng-if="allAreReady()")
      paper-button.danger-btn(label="CANCEL MATCH",raisedButton,ng-click="network.matches.do.leavematch()")
    .btns(ng-if="isInGame()&&!isAdminOfGame()&&network.activeMatch.Info.Status<1")
      paper-button.danger-btn(label="LEAVE",raisedButton,ng-click="network.matches.do.leavematch()")
    .btns(ng-if="canStartGames()&&!isAdminOfGame()&&network.activeChallenge==null&&network.activeResult==null")
      paper-button(label="START GAME",raisedButton,ng-click="createStartgame()")
      paper-button(label="CHALLENGE PLAYER",raisedButton,ng-click="createChallenge()")
    .btns(ng-if="network.activeResult != null && !hasVoted()")
      paper-button(label="VOTE RADIANT",raisedButton,ng-click="network.matches.do.vote(true)")
      paper-button(label="VOTE DIRE",raisedButton,ng-click="network.matches.do.vote(false)")
    .btns(ng-if="network.activeResult != null && hasVoted()")
      paper-button(label="DISMISS RESULT",raisedButton,ng-click="network.matches.do.dismissResult()")
  paper-toast-fa(icon="fa-sun-o fa-spin",ng-text="network.status",ng-opened="network.disconnected",duration=-1,swipeDisabled=true,autoCloseDisabled=true,backdrop=false,layered=false)
paper-dialog#createMatch(heading="Create Match", transition="paper-dialog-transition-bottom", style="width: 400px;")
  p(style="margin-bottom:0")
    | Choose your match options:
  div(style="height: 110px")
    div(style="height: 73px")
      paper-input#matchNameInput(floatinglabel="",label="Match Name", required="", error="You must enter a match name.",style="padding: 0")
    paper-dropdown-menu#gameModeInput(label="Game mode",style="position:absolute;padding:0")
      paper-item(ng-repeat="(id, name) in GameModeN", label="{{name}}", value="{{id}}")
  paper-button(ng-click="dismissCreate()", label="Cancel", affirmative="")
  paper-button.primary-btn(ng-click="confirmCreateMatch()", label="Create", affirmative="", autofocus="")
paper-dialog#createChallenge(heading="Start Challenge", transition="paper-dialog-transition-bottom", style="width: 400px;")
  p(style="margin-bottom:0")
    | Choose your match options:
  div(style="height: 110px")
    div(style="height: 10px")
    div(style="width: 100%;height:40px")
      paper-dropdown-menu#cPlayerInput(label="Player",style="position:absolute;padding:0")
        paper-item(ng-repeat="member in allMembers | filter:notMe", label="{{member.Name}}", value="{{member.SteamID}}")
    div(style="width: 100%")
      paper-dropdown-menu#cgameModeInput(label="Game mode",style="position:absolute;padding:0")
        paper-item(ng-repeat="(id, name) in GameModeN", label="{{name}}", value="{{id}}")
  paper-button(ng-click="dismissChallenge()", label="Cancel", affirmative="")
  paper-button.primary-btn(ng-click="confirmCreateChallenge()", label="Start", affirmative="", autofocus="")
