<header class="clearfix">

  <!-- Branding -->
  <div class="branding {{main.settings.brandingColor}}">
    <a class="brand" ui-sref="app.dashboard">
      <span><strong>FACEIT</strong> PRO</span>
    </a>
    <a href="javascript:;" class="offcanvas-toggle visible-xs-inline" offcanvas-sidebar><i class="fa fa-bars"></i></a>
  </div>

  <ul class="nav-left pull-left list-unstyled list-inline">
    <li class="sidebar-collapse divided-right">
      <a href="javascript:;" collapse-sidebar>
        <fa name="outdent"></fa>
      </a>
    </li>
  </ul>

  <ul class="nav-right pull-right list-inline">

    <li class="dropdown nav-profile" dropdown on-toggle="toggled(open)">

      <a href class="dropdown-toggle" dropdown-toggle>
        <img ng-src="{{auth.currentUser.steam.avatarfull}}" alt="" class="img-circle size-30x30">
        <span>{{auth.currentUser.profile.name}} <fa name="angle-down"></fa></span>
      </a>

      <ul class="dropdown-menu animated littleFadeInRight">
        <li>
          <a href="#" ng-click="auth.logout()">
            <fa name="sign-out"></fa>Logout
          </a>
        </li>

      </ul>

    </li>

    <li class="toggle-right-sidebar">
      <a href="javascript:;" ng-click="main.settings.rightbarShow = !main.settings.rightbarShow">
        <fa name="comments"></fa>
      </a>
    </li>
  </ul>
</header>
