.container-fluid(style="padding-top:15px")
  .col-md-3(style="text-align:center;padding:25px;box-shadow: 0 0 20px 0 rgba(0,0,0,0.75)")
    img(ng-src="{{profile.steam.avatarfull}}",style="width:90%;margin-bottom:15px")
    div(auto-font-size="{grow:true,shrink:true}", style="width: 100%;height:50px;font-size:48px")
      | {{profile.profile.name}}
    div(style="width:100%;font-size:25px")
      | Rating: {{profile.profile.rating}}
    paper-button(raised="",ng-click="openLink(profile.steam.profileurl)",style="margin-top:5px") 
      i.fa.fa-steam(style="margin-right:5px")
      | View Steam Profile
