.container-fluid(style="padding-top:15px")
  .col-md-12(style="padding:25px;box-shadow: 0 0 5px 0 rgba(0,0,0,0.75)")
    p(style="margin-bottom:0;font-weight:bold;font-size:1.5em") Active Game List
    p(style="margin:0")
      table.table.table-hover.table-condensed
        thead
          tr
            th(style="width:10px") T
            th Leader
            th Game Mode
            th Status
            th Password
            th(style="text-align:right;white-space:nowrap") Actions
        tbody
          tr(ng-repeat="game in network.adminMatches")
            td {{MatchTypeNS[game.Info.MatchType]}}
            td {{getOwner(game).Name}} ({{getOwner(game).Rating}})
            td {{GameModeN[game.Info.GameMode]}}
            td {{getStatus(game)}}
            td {{getPassword(game)}}
            td(style="text-align:right;white-space:nowrap")
              paper-button.danger-btn(ng-click="deleteGame(game)") Delete
