link(rel="import", href="/bower_components/polymer/polymer.html")
link(rel="import", href="/bower_components/paper-button/paper-button.html")
polymer-element(name="match-game", attributes="match modes gametypes inGame setupstatusn canJoin steamid matchstatesn")
  template
    link(rel="stylesheet",href="/bower_components/font-awesome/css/font-awesome.css")
    .header(class="{{inGame?'blueHeader':'redHeader'}}")
      | {{modes[match.Info.MatchType]}} - {{gametypes[match.Info.GameMode]}} -
      | ({{match.Players.length}}/10)
    .tablewrapper
      table.table.table-condensed(style="margin-bottom:0")
        tbody
          template(bind="",if="{{!inGame&&(match.Players.length<10||match.Info.MatchType==1)&&canJoin}}")
            tr(style="padding:0")
              td(style="padding:0")
                paper-button.success-btn(label="Join",style="width:100%",on-click="{{joinMatch}}")
          tr(style="font-weight:bold;color:black;background:white") 
            td {{match.Info.Name}}
          template(bind="",if="{{match.Info.MatchType==1}}")
            template(bind="",if="{{match.Info.Status==0}}")
              tr(style="font-weight:bold;color:black;background:white") 
                td Waiting for players to join the pool...
            template(bind="",if="{{match.Info.Status==1}}")
              tr(style="font-weight:bold;color:black;background:white") 
                td {{captainstatusn[match.Info.CaptainStatus]}}
          template(bind="",if="{{match.Info.Status==3}}")
            tr(style="font-weight:bold;color:black;background:white") 
              td {{matchstatesn[match.Setup.Details.State]}}
          template(bind="",if="{{match.Setup != null&&match.Info.Status<3}}")
            tr(style="font-weight:bold;color:black;background:white") 
              td {{setupstatusn[match.Setup.Details.Status]}}
          template(bind="",if="{{match.Setup != null&&match.Setup.Details != null && match.Setup.Details.Status==3}}")
            tr(style="font-weight:bold;color:black;background:white") 
              td 
                | Lobby Password: 
                b(style="color: red")
                  | {{match.Setup.Details.Password}}
          template(repeat="{{player in match.Players}}")
            tr(class="{{ {success: match.Info.Status>0&&player.Team==0, danger: match.Info.Status>0&&player.Team==1, boldText: player.SID==match.Info.Owner||player.SID==match.Info.Opponent} | tokenList }}")
              td
                template(bind="",if="{{match.Info.Status==2&&match.Setup!=null&&match.Setup.Details.Status==3}}")
                  template(bind="",if="{{player.Ready}}")
                    i.fa.fa-check(style="margin-right:5px;color:green")
                  template(bind="",if="{{!player.Ready}}")
                    i.fa.fa-cog.fa-spin(style="margin-right:5px")
                template(bind="",if="{{match.Info.Status==1&&showCaptainButtons()&&player.Team>1}}")
                  i.fa.fa-check-square-o(style="margin-right:5px",on-click="{{pickPlayer}}",data-player="{{player.SID}}")
                img(src="{{player.Avatar}}",style="width:15px;height:15px;margin-right:5px")
                | {{player.Name}}
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
    style.
      .header {
        width: 100%;
        color: black;
        text-align: center;
        font-size: 1.5em;
        font-weight: 500;
      }
      .success-btn {
        background: #2FD22E;
        color: #fff;
        border-radius: 0;
      }
      .success-btn:hover {
        background-color: #298028;
      }
      .success-btn::shadow #ripple {
        color: #FD9292;
      }
      .tablewrapper {
         /*max-height: 50%;*/
         overflow: auto;
         overflow-x: hidden;
      }
      .boldText {
        font-weight: bold;
      }
      .blueHeader {
        background-color: rgba(0, 255, 249, 1);
      }
      .redHeader {
        background-color: rgba(255,0,0,0.58);
      }
  script(src="/bower_components/lodash/dist/lodash.min.js")
  link(rel="import", href="/bower_components/paper-button/paper-button.html")
  script(src="match-game.js")
