link(rel="import", href="/bower_components/polymer/polymer.html")
link(rel="import", href="/bower_components/paper-button/paper-button.html")
polymer-element(name="match-game", attributes="match modes gametypes inGame setupstatusn canJoin steamid matchstatesn")
  template
    link(rel="stylesheet",href="/bower_components/font-awesome/css/font-awesome.css")
    .header(class="{{inGame?'blueHeader':'redHeader'}}")
      | {{modes[match.Info.MatchType]}} - {{gametypes[match.Info.GameMode]}} -
      template(bind="",if="{{match.Info.Status<2}}")
        | ({{numPlayers(match.Players)}}/10)
      template(bind="",if="{{match.Info.Status>=2}}")
        | &nbsp;{{msubstr(match.Id, 0, 4)}}
    .tablewrapper
      table.table.table-condensed(style="margin-bottom:0")
        tbody
          template(bind="",if="{{match.Info.MatchType==1}}")
            template(bind="",if="{{match.Info.Status==0}}")
              tr(style="font-weight:bold;color:black;background:white")
                td Waiting for players to join the pool...
            template(bind="",if="{{match.Info.Status==1}}")
              tr(style="font-weight:bold;color:black;background:white")
                td {{captainstatusn[match.Info.CaptainStatus]}}
          template(bind="",if="{{match.Info.Status==3}}")
            tr(style="font-weight:bold;color:black;background:white")
              td
                template(if="{{match.Setup.Details.State != 5}}")
                  | {{matchstatesn[match.Setup.Details.State]}}
                template(if="{{match.Setup.Details.State == 5}}")
                  | Started&nbsp;
                  time(is="time-ago" datetime="{{match.Setup.Details.GameStartTime}}")
                  |.
                template(if="{{match.Setup.Details.SpectatorCount > 0}}")
                  | &nbsp;{{match.Setup.Details.SpectatorCount}} spectators.
          template(bind="",if="{{match.Setup != null&&match.Info.Status!=3}}")
            tr(style="font-weight:bold;color:black;background:white")
              td {{setupstatusn[match.Setup.Details.Status]}}
          template(bind="",if="{{match.Setup != null&&inGame&&match.Setup.Details != null && match.Setup.Details.Status==3}}")
            tr(style="font-weight:bold;color:black;background:white")
              td(style="user-select:all;-moz-user-select:all;-webkit-user-select:all")
                | Lobby Password:
                b(style="color: red")
                  | &nbsp;{{match.Setup.Details.Password}}
          template(bind="",if="{{!inGame&&(numPlayers(match.Players)<10||match.Info.MatchType==1)&&canJoin&&match.Info.Status==0}}")
            tr(style="padding:0")
              td(style="padding:0")
                paper-button.join-btn(style="width:100%;margin:0;font-weight:bold;",on-click="{{joinMatch}}") Join Match
          template(bind="",if="{{!inGame&&match.Info.Status<3}}")
            tr(style="padding:0")
              td(style="padding:0")
                paper-button.join-spec-btn(style="width:100%;margin:0;font-weight:bold;",on-click="{{joinMatchSpectator}}") Spectate Match
          template(repeat="{{player in match.Players | orderBy('Team')}}")
            tr(class="{{ {success: match.Info.Status>0&&player.Team==0, danger: match.Info.Status>0&&player.Team==1, boldText: player.SID==match.Info.Owner||player.SID==match.Info.Opponent, leaver: player.IsLeaver, spectator: player.Team==2} | tokenList }}")
              td
                template(bind="",if="{{match.Info.Status==2&&match.Setup!=null&&match.Setup.Details.Status==3&&player.Team<2}}")
                  template(bind="",if="{{player.Ready}}")
                    i.fa.fa-check(style="margin-right:5px;color:green")
                  template(bind="",if="{{!player.Ready}}")
                    i.fa.fa-cog.fa-spin(style="margin-right:5px")
                template(bind="",if="{{match.Info.Status==1&&showCaptainButtons()&&player.Team==3}}")
                  i.fa.fa-check-square-o(style="margin-right:5px",on-click="{{pickPlayer}}",data-player="{{player.SID}}")
                template(bind="",if="{{match.Info.MatchType==0&&match.Info.Status==0&&isOwner()&&player.Team!=2&&player.SID!=steamid}}")
                  i.fa.fa-ban(style="margin-right:5px",on-click="{{kickPlayer}}",data-player="{{player.SID}}")
                img(src="{{player.Avatar}}",style="width:15px;height:15px;margin-right:5px")
                | {{player.Name}} ({{player.Rating}})
                template(bind="",if="{{player.Hero}}")
                  | &nbsp;[{{player.Hero.fullName}}]
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
    style.
      .header {
        width: 100%;
        color: black;
        text-align: center;
        font-size: 1.2em;
        font-weight: 500;
      }
      .join-btn {
        border-radius: 0;
        background: rgb(214, 214, 214);
      }
      .join-btn:hover {
        background: #B7BDBF !important;
      }
      .join-spec-btn {
        border-radius: 0;
        background: rgb(214, 214, 214);
      }
      .join-spec-btn:hover {
        background: #B7BDBF !important;
      }
      .tablewrapper {
         /*max-height: 50%;*/
         overflow: auto;
         overflow-x: hidden;
         padding-bottom:5px;
      }
      .boldText {
        font-weight: bold;
      }
      .spectator {
        background-color: rgb(255, 132, 245);
      }
      .blueHeader {
        background-color: rgba(0, 193, 255, 1);
      }
      .redHeader {
        background-color: rgba(255,0,0,0.58);
      }
      .leaver {
        color: red !important;
      }
      paper-button {
        line-height: 10px;
      }
  script(src="/bower_components/lodash/dist/lodash.min.js")
  link(rel="import", href="/bower_components/paper-button/paper-button.html")
  script(src="match-game.js")
