
@import 'font-awesome/less/font-awesome.less';


@fa-font-path: '/bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

html {
  height: 100%;
  width: 100%;
  overflow:hidden;
}

body {
  font-family: Roboto, sans-serif;
  height: 100%;
  width: 100%;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

paper-toast-fa {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.primary-btn {
  background: #4285f4;
  color: #fff;
}

.primary-btn:hover {
  background: #2a56c6;

}

.primary-btn::shadow #ripple {
  color: #00B8FF;
}

.danger-btn {
  background: #CF3838;
  color: #fff;
}

.danger-btn:hover {
  background: #E91313;

}

.danger-btn::shadow #ripple {
  color: #FD9292;
}

.success-btn {
  background: #2FD22E;
  color: #fff;
}

.success-btn:hover {
  background: #298028;
}

.success-btn::shadow #ripple {
  color: #FD9292;
}

p, td {
	-o-user-select: text;
	-moz-user-select: text;
	-webkit-user-select: text;
	user-select: text;
}

// injector
@import 'login/login.less';
@import 'panel/chat/chat.less';
@import 'panel/leaderboard/leaderboard.less';
@import 'panel/panel.less';
@import 'panel/profile/profile.less';
@import 'pnotify/pnotify.less';
@import 'net-anim/net-anim.less';
// endinjector
