.chat-cont(horizontal="", layout="")
  .main-chat(style="padding-bottom: 5px")
    .msg-container(vs-repeat="", vs-autoresize="")
      p(ng-repeat="message in chat.messages" ng-class="{systemMsg: message.Auto}")
        span(ng-if="!message.Auto")
          span.senderName(ng-class="messageClass(chat, message)") {{message.name}}:&nbsp;
          | {{message.msg}}
        span(ng-if="message.Auto")
          b {{message.name}} {{message.msg}}
    paper-input#inputcont(horizontal="",layout="",label="Enter a chat message",style="width:100%;position:relative;top:-10px;padding-right:5px" ng-model="chatInput")
  core-splitter(direction="left")
  .member-list(flex="")
    div(style="min-width: 200px;min-height: 100%")
      p(ng-repeat="member in values(chat.Members) | filter:{Id:'!system'} | orderBy:['-MemberType','Name']", context-menu="setSelectedMember(member)", data-target="menu-chatrightclick", ng-class="{admin: member.MemberType == 2, moderator: member.MemberType == 1, spectator: member.MemberType == -1}")
        span(tooltip="{{memberRole(member)}}", tooltip-placement="left")
          img(ng-src="{{member.Avatar}}")
          | {{member.Name}}
#menu-chatrightclick.dropdown.position-fixed
  ul.dropdown-menu(role="menu")
    li
      a.pointer(role="menuitem", tabindex="1", style="font-weight: bold")
        | Rating: {{selectedMember.Rating}}
    li
      a.pointer(role="menuitem", tabindex="2", ng-click="viewProfile(selectedMember)")
        | View Profile
    li(ng-if="canChallenge(selectedMember)")
      a.pointer(role="menuitem", tabindex="3", ng-click="sendChallenge(selectedMember)")
        | Send Challenge
    li
      a.pointer(role="menuitem", tabindex="4", ng-click="steamProfile(selectedMember)")
        | View Steam Profile
    li(ng-if="!isMe(selectedMember)")
      a.pointer(role="menuitem", tabindex="5", ng-click="openDirectMessage(selectedMember)")
        | Open Private Chat
