.chat-cont(horizontal="", layout="")
  .main-chat
    .msg-container
      p(ng-repeat="message in chat.messages")
        b {{message.name}}: 
        | {{message.msg}}
    paper-input#inputcont(horizontal="",layout="",label="Enter a chat message",style="width:100%;")
  core-splitter(direction="left")
  .member-list(flex="")
    p(ng-repeat="(id, member) in chat.Members")
        img(ng-src="{{member.Avatar}}")
        | {{member.Name}}
