link(rel="import", href="/bower_components/polymer/polymer.html")
link(rel="import", href="/bower_components/core-splitter/core-splitter.html")
link(rel="import", href="/bower_components/paper-input/paper-input.html")
polymer-element(name="wl-chat", attributes="chat chatMessageInput")
  script(src="chat.js")
  template
    .chat-cont(horizontal="", layout="")
      .main-chat
        .msg-container
          template(repeat="{{message in chat.messages}}")
            p [{{chat.Members[message.member].Name}}] {{message.msg}}
        paper-input#inputcont(horizontal="",layout="",label="Enter a chat message",style="width:100%;",ng-model="chatMessageInput")
      core-splitter(direction="left")
      .member-list(flex="")
        template(repeat="{{member in chat.Members | keys}}")
          p {{chat.Members[member].Name}}
    style.
      :host {
        display: block;
      }
      .main-chat {
        width: 80%;
        height: 100%;
      }
      .chat-cont {
        height: 100%;
      }
      .msg-container {
        height: calc(100% - 35px);
        max-height: calc(100% - 35px);
        max-width: 100%;
        overflow-y: auto;
      }
      .member-list {
        overflow-y: scroll;
        max-height: 100%;
        height: 100%;
      }
      .member-list p {
        display: block;
        color: black;
        text-decoration: none;
        cursor: default;
        border-top: 1px solid rgb(240,247,255);
        border-bottom: 1px solid rgb(240,247,255);
        margin: 0;
        padding: 0;
        padding-left: 10px;
        border-bottom-style: solid;
        border-bottom-color: black;
        border-bottom-width: 1px;
      }
      .msg-container p {
        margin: 0; 
      }
      #inputcont {
        height: 35px;
      }
      paper-input {
        width: 500px;
        width: 100%;
      }
      paper-input::shadow #container {
        width: 500px;
        width: 100%;
      }
      paper-input /deep/ #errorContainer {
        display:none;
      }
      core-splitter {
        width: 3px;
      }
