link(rel="import", href="/bower_components/polymer/polymer.html")
link(rel="import", href="/bower_components/core-splitter/core-splitter.html")
link(rel="import", href="/bower_components/paper-input/paper-input.html")
polymer-element(name="wl-chat", attributes="chat chatMessageInput chatValue membersArr", on-keypress="{{keypressHandler}}")
  template
    .chat-cont(horizontal="", layout="")
      .main-chat
        .msg-container
          template(repeat="{{message in chat.messages}}")
            p [{{message.name}}] {{message.msg}}
        paper-input#inputcont(horizontal="",layout="",label="Enter a chat message",style="width:100%;",value="{{chatValue}}")
      core-splitter(direction="left")
      .member-list(flex="")
        template(repeat="{{member in membersArr}}")
          p 
            img(src="{{chat.Members[member].Avatar}}")
            | {{chat.Members[member].Name}}
    //style.
    link(rel="stylesheet", href="chat.css", type="text/css")
  script(src="chat.js")
