<div id="sidebar-wrap" ng-controller="NavCtrl">
  <accordion close-others="oneAtTime" slimscroll="{height: '100%'}">
    <accordion-group is-open="status.isNavOpen" ng-class="{'open': status.isFirstOpen, 'closed': !status.isFirstOpen}">
      <accordion-heading>
        Navigation <i class="fa" ng-class="{'fa-angle-up': status.isFirstOpen, 'fa-angle-down': !status.isFirstOpen}"></i>
      </accordion-heading>
      <ul class="navigation" nav-collapse ripple>
        <li ui-sref-active="active"><a ui-sref="panel.leaderboards"><fa name="list-ol"></fa> <span>Leaderboards</span></a></li>
        <li ng-repeat="league in leagues(leagueStore.leagues)" ui-sref-active="active"><a ui-sref="panel.league({id: league._id})"><fa name="soccer-ball-o"></fa> <span>{{league.Name}}</span></a></li>
        <li ng-if="canVouch()" ui-sref-active="active"><a ui-sref="panel.vouch"><fa name="gavel"></fa> <span>Vouch</span></a></li>
      </ul>
    </accordion-group>
  </accordion>
</div>
