<div ng-controller="RightBarCtrl" style="width:100%;height:100%">
<tabset justified="true" ng-if="hasLeagues()">
  <tab ng-repeat="season in activeSeasons(league())" active="season.lbtabsel">
    <tab-heading>
      <fa name="list-ol"></fa>
    </tab-heading>

    <h6><strong>{{league().Name}}</strong><br/> {{season.Name}}<br/> <span class="prize" ng-if="totalPrizepool(season.PrizepoolDist)>0">{{season.PrizepoolCurrency}}{{totalPrizepool(season.PrizepoolDist) | number}}</span></h6>
    <table class="table table-no-border m-0" ng-controller="LeaderboardCtrl" style="color:white;">
      <tbody>
        <tr ng-repeat="member in leagueMembers(league(), true, season.sidx)" tooltip="{{member.wins}}/{{member.losses}} +{{member.winStreak}}" tooltip-placement="left">
          <td>{{$index+1}}</td>
          <td style="overflow:hidden;max-width:100px">{{member.Name}}</td>
          <td class="lbprzrt {{calcPrize(season, $index)>0 ? 'prizehov' : 'ratingh'}}">
            <span class="prize">{{season.PrizepoolCurrency}}{{calcPrize(season, $index) | number:0}}</span>
            <span class="rating">{{member.rating}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </tab>
</tabset>
</div>
