link(rel="import", href="/bower_components/polymer/polymer.html")
link(rel="import", href="/bower_components/paper-button/paper-button.html")
polymer-element(name="pending-challenge", attributes="")
  template
    link(rel="stylesheet",href="/bower_components/font-awesome/css/font-awesome.css")
    .header.redHeader
      | Pending challenge...
    div(style="background:white;padding-bottom:5px;padding-top:5px")
      .progress(style="width: 100%;margin-bottom:0")
        .progress-bar.progress-bar-primary.progress-bar-striped.active(role="progressbar", aria-valuenow="100", aria-valuemin="0", aria-valuemax="100", style="width: 100%;border-radius:0")
      paper-button(style="width:100%;margin:0;font-weight:bold;",on-click="{{cancelChallenge}}") Cancel Challenge
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
    style.
      .header {
        width: 100%;
        color: black;
        text-align: center;
        font-size: 1.5em;
        font-weight: 500;
      }
      .redHeader {
        background-color: rgba(255,0,0,0.58);
      }
  script(src="pending-challenge.js")
