<div class="page page-full page-chat">
<div class="tbox tbox-sm chatContainer">

  <!-- right side -->
  <div class="tcol chatBox">
    <!-- right side header -->
    <div class="p-15 bg-white b-b">
      <div class="btn-toolbar pull-right">
      </div>

      <h3 class="custom-font m-0 mr-5 inline-block">{{leagues[leagueid].Name}}</h3>
    </div>
    <!-- /right side header -->

    <!-- right side body -->
    <div class="p-15" style="max-height:calc(100% - 118px);overflow:auto;overflow-x:hidden;">

      <!-- chats -->
      <ul class="chats p-0">
        <!--<li class="text-center"><a href="javascript:;">Load More...</a></li>-->
        <!--<li class="conversation-divider"><span>26.03.2014</span></li>-->
        <li ng-repeat="message in chat(network.chats, leagueid).messages" class="in">
          <div class="media">
            <div class="media-body c{{member(message.member).MemberType}}" style="margin-left:0">
              <span class="body"><span class="name c{{member(message.member).MemberType}}">{{message.name}}:</span> {{message.msg}}</span>
            </div>
          </div>
        </li>
        <li class="in newMessage" style="position:absolute;bottom:10px;padding-right:15px">
          <div class="media">
            <div class="media-body c2" style="text-align:left;padding:5px;margin-left:0">
              <div class="mb-40" ng-hide="post" style="margin-bottom:0 !important">
                <textarea class="chatInput" ng-model="message"></textarea>
              </div>
              <div ng-show="post">
                <div class="p-15 text-left bg-white text-md" contenteditable="true" style="min-height:100px"></div>
                <div class="panel-footer text-left">
                  <button class="btn btn-link text-default pull-right" ng-click="post=!post"><i class="fa fa-trash-o"></i></button>
                  <button class="btn btn-greensea btn-ef btn-ef-7 btn-ef-7b b-0 br-2" activate-button=""><i class="fa fa-envelope"></i> Send Message</button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <!-- / chats -->
    </div>
    <!-- /right side body -->
  </div>
  <!-- /right side -->
  <!-- left side -->
  <div class="tcol w-240 bg-tr-white lt b-r">
    <!-- left side header-->
    <div class="p-15 bg-white">

      <h3 class="custom-font m-0 mr-5 inline-block">players</h3><span class="badge bg-orange">{{chat(network.chats, leagueid).Members.length}}</span>

      <div class="btn-group pull-right">
        <button class="btn btn-sm btn-default pull-right visible-sm visible-xs ml-5" active-toggle target="#open-chats"><i class="fa fa-bars"></i></button>
      </div>
    </div>
    <!-- /left side header -->

    <!-- left side body -->
    <div class="p-15 hidden-sm hidden-xs" id="open-chats">

      <ul class="list-unstyled" id="inbox" style="margin-top: 0">
        <li ng-repeat="member in chatMembers(chat(network.chats, leagueid))">
          <a href="#" class="active" style="padding: 5px;padding-left:10px">
            <div class="media" style="height:23px">

              <div class="media-left thumb thumb-sm" style="width: 23px">
                <img class="media-object img-circle" ng-src="{{member.Avatar}}">
              </div>

              <div class="media-body" style="padding-left: 10px">
                <p class="media-heading">
                <span class="membername c{{member.MemberType}}" ng-class="{'text-strong': member.MemberType==2}">{{member.Name}}</span>
                <span class="badge bg-orange pull-right" style="margin-top:3px">{{member.LeagueProfiles[leagueid+":"+leagues[leagueid].CurrentSeason].rating}}</span>
                </p>
              </div>

            </div>
          </a>
        </li>
      </ul>

    </div>
    <!-- /left side body -->
  </div>

  <div class="tcol w-xl bg-tr-white lt b-r">
    <!-- left side header-->
    <div class="p-15 bg-white">

      <h3 class="custom-font m-0 mr-5 inline-block">games</h3><span class="badge bg-orange">0</span>

      <div class="btn-group pull-right" dropdown>
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" dropdown-toggle>
          <fa name="plus"></fa> Start game <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" ng-click="createGame(2)">Captain's Mode</a></li>
          <li><a href="#" ng-click="createGame(20)">All Random Deathmatch</a></li>
        </ul>
        <button class="btn btn-sm btn-default pull-right visible-sm visible-xs ml-5" active-toggle target="#open-games"><i class="fa fa-bars"></i></button>
      </div>
    </div>
    <!-- /left side header -->

    <!-- left side body -->
    <div class="p-15 hidden-sm hidden-xs" id="open-games">
      <div class="col-lg-12" style="padding:0">
        <!-- tile -->
        <section ng-repeat="game in games(network.availableGames,leagueid)" class="tile bg-slategray" ng-class="{'bg-slategray': !inGame(game), 'bg-red': inGame(game)}" fullscreen="isFullscreen07" style="padding:0">

          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong style="padding-right:3px">{{GameModeN[game.Info.GameMode]}}</strong> <span ng-if="game.Info.Status==3"> <time is="time-ago" datetime="{{game.Setup.Details.GameStartTime}}"></time></span></h1>
            <ul class="controls">
              <li class="dropdown" dropdown on-toggle="toggled(open)">

                <a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                  <li>
                    <a href tile-control-toggle>
                      <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                      <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                    </a>
                  </li>
                  <li>
                    <a href tile-control-fullscreen ng-click="isFullscreen07 = !isFullscreen07">
                      <fa name="expand"></fa> Fullscreen
                    </a>
                  </li>

                </ul>

              </li>
            </ul>
          </div>
          <!-- /tile header -->

          <!-- tile widget -->
          <div class="progress-list" ng-if="game.Info.Status==0">
            <progressbar class="progress-xs not-rounded" value="playerPercent(game)" type="dutch"></progressbar>
          </div>
          <div style="height: 10px" ng-if="game.Info.Status!=0"></div>

          <div class="tile-widget" style="padding-top: 0; padding-bottom:0; top: -10px">
            <div class="title text-lg" style="line-height: 30px">{{gameStatus(game)}}</div>
          </div>
          <!-- /tile widget -->

          <!-- tile body -->
          <div class="tile-body p-0">
            <div class="list-group no-radius no-border" style="margin-bottom:0" ng-if="canJoinGame(game)">
              <a href="#" class="list-group-item bg-greensea hover" ng-click="joinGame(game, false)">
                <i class="fa fa-gamepad text-muted mr-5"></i>
                Join as player
              </a>
              <a href="#" class="list-group-item bg-orange hover" ng-click="joinGame(game, true)">
                <i class="fa fa-binoculars text-muted mr-5"></i>
                Join as spectator
              </a>
            </div>

            <div class="list-group no-radius no-border" style="margin-bottom:0" ng-if="inGame(game)&&me(game).IsCaptain">
              <a href="#" class="list-group-item bg-greensea hover" ng-if="canStart(game)" ng-click="network.matches.do.startmatch()">
                <i class="fa fa-play text-muted mr-5"></i>
                Start Game
              </a>
              <a href="#" class="list-group-item bg-orange hover" ng-click="network.matches.do.leavematch()" ng-if="canCancel(game)">
                <i class="fa fa-ban text-muted mr-5"></i>
                Cancel Game
              </a>
            </div>

            <div class="list-group no-radius no-border" style="margin-bottom:0" ng-if="inGame(game)&&!me(game).IsCaptain">
              <a href="#" class="list-group-item bg-orange hover" ng-click="network.matches.do.leavematch()" ng-if="canCancel(game)">
                <i class="fa fa-ban text-muted mr-5"></i>
                Leave Game
              </a>
            </div>

            <accordion close-others="oneAtATime">
              <accordion-group is-open="!game.PlayersClosed" class="panel-slategray">
                <accordion-heading>
                <span style="font-weight:bold;color:white" ng-class="{'text-default lt': game.PlayersClosed}"><i class="fa text-sm mr-5" ng-class="{'fa-minus': !game.PlayersClosed, 'fa-plus': game.PlayersClosed}"></i> Players</span><span class="badge pull-right bg-lightred">{{game.Players.length}}</span>
                </accordion-heading>
                <table class="table table-no-border m-0 bg-white" style="color: black">
                  <tbody>
                    <tr ng-class="{'bg-greensea': plyr.Team==0, 'bg-red': plyr.Team==1, 'bg-amethyst': plyr.Team==2}" ng-repeat="plyr in game.Players | orderBy:'Team'">
                      <td>
                        <span ng-if="plyr.Team<2&&game.Info.Status==2">
                          <fa ng-if="!plyr.Ready" name="cog" spin=""></fa>
                          <fa ng-if="plyr.Ready" name="check"></fa>
                        </span>
                      </td>
                      <td ng-class="{bold: plyr.IsCaptain}">{{plyr.Name}}</td>
                      <td><span ng-if="plyr.Hero">{{plyr.Hero.fullName}}</span></td>
                      <td>{{plyr.Rating==0?"":plyr.Rating}}</td>
                    </tr>
                  </tbody>
                </table>
              </accordion-group>
            </accordion>
          </div>
          <!-- /tile body -->

        </section>
        <!-- /tile -->
      </div>
    </div>
    <!-- /left side body -->
  </div>
  <!-- /left side -->
</div>
