<div class="page page-full page-chat">
<div class="tbox tbox-sm chatContainer">

  <!-- right side -->
  <div class="tcol chatBox">
    <div style="height: 100%">
      <!-- right side header -->
      <div class="p-15 bg-white b-b">
        <div class="btn-toolbar pull-right">
        </div>

        <h3 class="custom-font m-0 mr-5 inline-block">{{leagues[leagueid].Name}}</h3>
      </div>
      <!-- /right side header -->

      <!-- right side body -->
      <div class="p-15 chatMessageCont" style="height:100px;overflow:auto;overflow-x:hidden;padding-bottom:0 !important">

        <!-- chats -->
        <ul class="chats p-0">
          <!--<li class="text-center"><a href="javascript:;">Load More...</a></li>-->
          <!--<li class="conversation-divider"><span>26.03.2014</span></li>-->
          <li ng-repeat="message in chat(network.chats, leagueid).messages" class="in">
            <div class="media">
              <div class="media-body c{{member(message.member).MemberType}}" style="margin-left:0;font-size:14px !important">
                <span class="body"><span class="name c{{member(message.member).MemberType}}" style="font-weight:bold" tooltip="{{msgTime(message.date)}}" tooltip-placement="left">{{message.name}}:</span> <span class="chatMessageText" style="position:relative" ng-bind-html="message.msg | linky:'_blank' | twitchy"></span></span>
              </div>
            </div>
          </li>

        </ul>
        <!-- / chats -->
      </div>
      <div class="p-15 chatMessageCont" style="max-height:60px;overflow:auto;overflow-x:hidden;padding-bottom:0!important;margin:0!important">
        <div class="in newMessage">
          <div class="media">
            <div class="media-body c2 chatInputBox">
              <div class="mb-40" ng-hide="post" style="margin-bottom:0 !important">
                <textarea class="chatInput" ng-model="message" placeholder="Enter a chat message."></textarea>
              </div>
              <div ng-show="post">
                <div class="p-15 text-left bg-white text-md" contenteditable="true" style="min-height:100px"></div>
                <div class="panel-footer text-left">
                  <button class="btn btn-link text-default pull-right" ng-click="post=!post"><i class="fa fa-trash-o"></i></button>
                  <button class="btn btn-greensea btn-ef btn-ef-7 btn-ef-7b b-0 br-2" activate-button=""><i class="fa fa-envelope"></i> Send Message</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /right side body -->
  </div>
  <!-- /right side -->
  <!-- left side -->
  <div class="tcol w-240 bg-tr-white lt b-r">
    <!-- left side header-->
    <div class="p-15 bg-white">

      <h3 class="custom-font m-0 mr-5 inline-block">players</h3><span class="badge bg-orange">{{chat(network.chats, leagueid).Members.length}}</span>

      <div class="btn-group pull-right">
        <button class="btn btn-sm btn-default pull-right visible-sm visible-xs ml-5" active-toggle target="#open-chats"><i class="fa fa-bars"></i></button>
      </div>
    </div>
    <!-- /left side header -->

    <!-- left side body -->
    <div class="p-15 hidden-sm hidden-xs" id="open-chats" style="max-height:calc(100% - 30px) !important;overflow-y:auto">

      <ul class="list-unstyled" id="inbox" style="margin-top: 0">
        <li ng-repeat="member in chatMembers(chat(network.chats, leagueid)) | orderBy:['-MemberType','Name'] track by member.ID" dropdown is-open="member.dropOpen" auto-close="always">
          <a href="#" class="active chatMember dropdown-toggle" dropdown-toggle dropdown-append-to-body>
            <div class="media" style="height:23px">

              <div class="media-left thumb thumb-sm" style="width: 23px">
                <img class="media-object img-circle" ng-src="{{member.Avatar}}">
              </div>

              <div class="media-body" style="padding-left: 10px">
                <p class="media-heading" style="margin:0;margin-top:1px">
                <span class="membername c{{member.MemberType}}" ng-class="{'text-strong': member.MemberType==2}">{{member.Name}}</span>
                <span class="badge bg-orange pull-right" style="margin-top:3px">{{member.LeagueProfiles[leagueid+":"+leagues[leagueid].CurrentSeason].rating}}</span>
                </p>
              </div>

            </div>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" ng-click="startChallenge(member, 1, leagueid)">CM  Challenge</a></li>
            <li><a href="#" ng-click="startChallenge(member, 2, leagueid)">1v1 Challenge</a></li>
          </ul>
        </li>
      </ul>

    </div>
    <!-- /left side body -->
  </div>

  <div class="tcol w-280 bg-tr-white lt b-r">
    <!-- left side header-->
    <div class="p-15 bg-white">

      <h3 class="custom-font m-0 mr-5 inline-block">games</h3></span>

      <div class="btn-group pull-right" dropdown>
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" dropdown-toggle>
          <fa name="plus"></fa> Start game <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" ng-click="createGame(2)">Captain's Mode</a></li>
          <li><a href="#" ng-click="createGame(20)">All Random Deathmatch</a></li>
        </ul>
        <button class="btn btn-sm btn-default pull-right visible-sm visible-xs ml-5" active-toggle target="#open-games"><i class="fa fa-bars"></i></button>
      </div>
    </div>
    <!-- /left side header -->

    <!-- left side body -->
    <div class="hidden-sm hidden-xs" id="open-games" style="height:calc(100% - 60px);overflow-y:auto">
      <div class="col-lg-12" style="padding:0">
        <div class="alert alert-big alert-lightred" style="padding:10px" ng-if="!myMember().TeamspeakOnline">
          <h4><strong>Please Join Teamspeak</strong></h4>
          <p>Teamspeak is required for games.</p>
        </div>

        <section ng-if="network.activeChallenge" class="tile bg-orange" fullscreen="isFullscreen14" style="padding:0">
          <div class="tile-header dvd dvd-btm" style="cursor:pointer" tile-control-toggle>
            <h1 class="custom-font"><strong style="padding-right:3px">Pending Challenge</strong></h1>
          </div>

          <div class="progress-list">
            <progressbar class="progress-xs not-rounded progress-striped active" type="dutch"></progressbar>
          </div>

          <div class="tile-widget" style="padding-top: 0; padding-bottom:0; top: -10px">
            <div class="title text-lg" style="line-height: 30px">Waiting for response...</div>
          </div>
          <!-- /tile widget -->

          <!-- tile body -->
          <div class="tile-body p-0">
            <div class="list-group no-radius no-border" style="margin-bottom:0">
              <a href="#" class="list-group-item bg-red hover" ng-click="cancelChallenge()">
                <i class="fa fa-ban text-muted mr-5"></i>
                Cancel Challenge
              </a>
            </div>
          </div>
        </section>

        <section ng-if="network.activeResult" class="tile bg-slateorange" fullscreen="isFullscreen10" style="padding:0">
          <div class="tile-header dvd dvd-btm" style="cursor:pointer" tile-control-toggle>
            <h1 class="custom-font"><strong style="padding-right:3px">Your Match Result</strong></h1>
          </div>

          <div class="tile-widget" style="padding-top: 0; padding-bottom:0; top: -10px">
            <div class="title text-lg" style="line-height: 30px">{{resultDesc(network.activeResult)}}</div>
          </div>
          <!-- /tile widget -->

          <!-- tile body -->
          <div class="tile-body p-0">
            <div class="list-group no-radius no-border" style="margin-bottom:0">
              <a href="#" class="list-group-item bg-greensea hover" ng-click="dismissResult()">
                <i class="fa fa-ban text-muted mr-5"></i>
                Dismiss result
              </a>
            </div>

            <table class="table table-no-border m-0 bg-white" style="color: black">
              <tbody>
                <tr class="teamMember" ng-class="{'radiant': plyr.Team==0, 'dire': plyr.Team==1}" ng-repeat="plyr in network.activeResult.Players | orderBy:['Team','Name'] track by plyr.SID">
                  <td>
                    <span ng-if="plyr.HeroId">
                      <i class="d2mh hero-{{plyr.HeroId}} d2mhsmall"></i>
                    </span>
                  </td>
                  <td ng-class="{bold: plyr.IsCaptain}">{{plyr.Name}}</td>
                  <td></td>
                  <td>{{ratingDelta(network.activeResult, plyr)}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /tile body -->
        </section>

        <section ng-repeat="game in games(network.availableGames,leagueid) | orderBy:'Info.Status'" class="tile bg-slategray" fullscreen="isFullscreen07" style="padding:0">
          <div class="tile-header dvd dvd-btm" style="cursor:pointer" tile-control-toggle>
            <h1 class="custom-font" style="width:100%">
              <strong style="padding-right:3px">
                <span ng-if="game.Info.Status<3">{{GameModeN[game.Info.GameMode]}} </span>
                <span ng-if="game.Info.Status==3">{{shortId(game)}} </span>
              </strong>
              <span ng-if="game.Info.Status==0" style="display:block;float:right">{{playerCount(game)}}/{{maxPlayers(game)}}</span>
              <span ng-if="game.Info.Status==3&&game.Setup&&game.Setup.Details.State>1" style="display:block;float:right">
                <mins-ago datetime="{{game.Setup.Details.GameStartTime}}" style="margin-right: 5px"></mins-ago> mins
              </span>
            </h1>
          </div>

          <!-- tile widget -->
          <div class="progress-list" ng-if="game.Info.Status==0">
            <progressbar class="progress-xs not-rounded" value="playerPercent(game)" type="dutch"></progressbar>
          </div>
          <div style="height: 10px" ng-if="game.Info.Status!=0"></div>

          <div class="tile-widget" style="padding-top: 0; padding-bottom:0; top: -10px">
            <div class="title text-lg" style="line-height: 30px">{{gameStatus(game)}}</div>
          </div>
          <!-- /tile widget -->

          <!-- tile body -->
          <div class="tile-body p-0">
            <div class="list-group no-radius no-border" style="margin-bottom:0" ng-if="isAdmin()">
              <a href="#" class="list-group-item bg-red hover" ng-click="deleteGame(game)">
                <i class="fa fa-ban text-muted mr-5"></i>
                ADMIN Purge Game
              </a>
            </div>

            <div class="list-group no-radius no-border" style="margin-bottom:0" ng-if="canJoinGame(game)||canObsGame(game)">
              <a href="#" class="list-group-item bg-greensea hover" ng-click="joinGame(game, false)" ng-if="canJoinGame(game)">
                <i class="fa fa-gamepad text-muted mr-5"></i>
                Join as player
              </a>
              <a href="#" class="list-group-item bg-orange hover" ng-click="joinGame(game, true)">
                <i class="fa fa-binoculars text-muted mr-5"></i>
                Join as spectator
              </a>
            </div>

            <div class="list-group no-radius no-border" style="margin-bottom:0" ng-if="inGame(game)&&me(game).IsCaptain">
              <a href="#" class="list-group-item bg-greensea hover" ng-if="canStart(game)" ng-click="network.matches.do.startmatch()">
                <i class="fa fa-play text-muted mr-5"></i>
                Start Game
              </a>
              <a href="#" class="list-group-item bg-orange hover" ng-click="network.matches.do.leavematch()" ng-if="canCancel(game)">
                <i class="fa fa-ban text-muted mr-5"></i>
                Cancel Game
              </a>
            </div>

            <div class="list-group no-radius no-border" style="margin-bottom:0" ng-if="inGame(game)&&!me(game).IsCaptain">
              <a href="#" class="list-group-item bg-orange hover" ng-click="network.matches.do.leavematch()" ng-if="canLeave(game)">
                <i class="fa fa-ban text-muted mr-5"></i>
                Leave Game
              </a>
            </div>

            <div class="list-group no-radius no-border" style="margin-bottom:0" ng-if="!inGame(game)&&game.Info.Status==3&&game.Setup&&game.Setup.Details.State>1">
              <a href="#" class="list-group-item bg-greensea hover" ng-click="showWatchGame(game)">
                <i class="fa fa-binoculars text-muted mr-5"></i>
                Watch Game
              </a>
            </div>

            <table class="table table-no-border m-0 bg-white" style="color: black">
              <tbody>
                <tr class="teamMember" ng-class="{'radiant': plyr.Team==0, 'dire': plyr.Team==1, 'observer': plyr.Team==2}" ng-repeat="plyr in game.Players | orderBy:['Team','-Rating']">
                  <td>
                    <span ng-if="plyr.Team<2&&game.Info.Status==2">
                      <fa ng-if="!plyr.Ready" name="cog" spin=""></fa>
                      <fa ng-if="plyr.Ready" name="check"></fa>
                    </span>
                    <span ng-if="!plyr.IsCaptain&&game.Info.Status==0&&me(game).IsCaptain" style="cursor:pointer">
                      <fa name="ban" ng-click="kickPlayer(plyr)"></fa>
                    </span>
                    <span ng-if="plyr.Team==3&&game.Info.Status==1&&me(game).IsCaptain&&game.Info.CaptainStatus!=me(game).Team" style="cursor:pointer">
                      <fa name="check-circle-o" ng-click="pickPlayer(plyr)"></fa>
                    </span>
                    <span ng-if="plyr.Hero">
                      <i class="d2mh hero-{{plyr.Hero.Id}} d2mhsmall"></i>
                    </span>
                  </td>
                  <td ng-class="{bold: plyr.IsCaptain}">{{plyr.Name}}</td>
                  <!--<td><span ng-if="plyr.Hero">{{plyr.Hero.fullName}}</span></td>-->
                  <td></td>
                  <td>{{plyr.Rating==0?"":(plyr.Rating)}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /tile body -->
        </section>
        <!-- /tile -->
      </div>
    </div>
    <!-- /left side body -->
  </div>
  <!-- /left side -->
</div>
