.row#vouchPanel(style="padding: 15px")
  paper-shadow.col-md-5.col-sm-10.col-lg-4.span-shadow(z="2", style="padding: 25px")
    p(style="margin-bottom:0;font-weight:bold;font-size: 1.5em")
      | {{"Add/Modify a Vouch" | translate}}
    p(style="margin:0")
      paper-input(floatinglabel="",label="Steam ID", required="", style="padding: 0", ng-model="steamID", ng-committed-model="steamIDC", ng-class="{error: !steamIdValid}")
    p(ng-if="loadingVouch")
      paper-spinner.blue.center-block(active="", style="margin-top:15px")
    p(ng-if="vouch != null")
      paper-input(floatinglabel="", label="Override Name", style="padding: 0", ng-model="vouch.name")
    p(ng-if="vouch != null")
      paper-input(floatinglabel="", label="Override Avatar URL", style="padding: 0", ng-model="vouch.avatar")
    p(ng-if="vouch != null")
      paper-input(floatinglabel="", label="Override Team Name", style="padding: 0", ng-model="vouch.teamname")
    p(ng-if="vouch != null")
      paper-input(floatinglabel="", label="Override Team Avatar", style="padding: 0", ng-model="vouch.teamavatar")
    p(ng-if="vouch != null")
      paper-button.btn-success.center-block(raised="" role="button" ng-click="saveVouch()") Save Changes
    p(ng-if="vouch != null")
      paper-button.btn-danger.center-block(raised="" role="button" ng-click="deleteVouch()") Unvouch Player
    p(ng-if="vouchEmpty" style="margin-top:15px")
      paper-button.center-block(raised="" role="button" ng-click="createVouch()") Vouch Player
.row(style="padding: 15px")
  paper-shadow.col-md-12.col-sm-12.col-lg-5.span-shadow(z="1", style="padding: 25px")
    p(style="margin-bottom:0;font-weight:bold;font-size: 1.5em")
      | {{"Vouch Tree" | translate}}
    p
      paper-shadow
        core-selector
          div(ui-tree="")
            ol(ui-tree-nodes="", ng-model="vouchTree")
              li(ng-repeat="item in vouchTree" ui-tree-node="")
                paper-item(ui-tree-handle="")
                  | {{item.title}}

    paper-spinner.blue.center-block(active="", style="margin-top:25px", ng-if="profiles.length == 0")
