link(rel="import", href="/bower_components/polymer/polymer.html")
polymer-element(name="live-matches", attributes="matches modes gmodes")
  template
    .header
      | LIVE MATCHES
    .tablewrapper
      table.table(style="margin-bottom:0")
        tbody
          template(repeat="{{match in matches}}")
            tr
              td(style="width:26px") {{modes[match.MatchType]}}
              td(style="width:100px") {{gmodes[match.GameMode]}}
              td {{match.Name}}
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
    style.
      .header {
        width: 100%;
        color: black;
        text-align: center;
        font-size: 1.5em;
        font-weight: 500;
        background-color: rgba(255,0,0,0.58);
      }
      tr{
        background-color: white;
        color: black;
        font-weight: bold;
      }
      .header paper-checkbox {
        float:right;
        margin-right: 8px;
        margin-top: 5px;
      }
      .tablewrapper {
         max-height: 50%; 
         overflow: auto;
      }
  script(src="live-matches.js")
