#homeCont
  #titleCont {{"TITLE"|translate}}
  .netAnim(net-anim="")
  #loginCont
    .loginBtns(style="text-align:center")
    paper-button#steam-signin-btn(raisedButton,ng-click="steamSignin()") {{'sign in with steam' | translate}}
