@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


#steam-signin-btn {
  background: #4285f4;
  color: #fff;
}

#steam-signin-btn:hover {
  background: #2a56c6;
}

#steam-signin-btn::shadow #ripple {
  color: #00B8FF;
}
#homeCont {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 350px;
  height: 550px;
}
#titleCont {
  height: 35px;
  width: 100%;
  font-size:35px;
  text-align:center;
}
#subtitleCont, .subtitleCont {
  height: 25px;
  width: 100%;
  font-size:25px;
  text-align:center;
}
#loginCont {
  height: 100px;
  width: 100%;
  text-align:center;
}
.loginBtns {
  width: 100%;
}
