#homeCont
  #titleCont Web League
  .netAnim(net-anim="")
  #loginCont
    .loginBtns(style="text-align:center")
      paper-button#steam-signin-btn(label="sign in with steam",raisedButton,ng-click="steamSignin()")
